<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form method="POST" th:action="@{/logout}">
                    <button class="btn btn-secondary float-right" id="logout-button" type="submit">
                        Logout
                    </button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form enctype="multipart/form-data" method="POST" th:action="@{/files}">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control-file" id="fileUpload" name="fileUpload"
                                               type="file">
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-dark" id="uploadButton"
                                                type="submit">Upload
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="file : ${files}">
                                    <td>
                                        <button
                                        class="btn btn-success"
                                        th:onclick="showFileModal([[${file.id}]],[[${file.fileName}]],[[${file.contentType}]],[[${file.fileSize}]])">View
                                        </button>
                                        <a class="btn btn-danger"
                                           th:href="@{/file/{id}(id=${file.id})}">Delete</a>
                                    </td>
                                    <th scope="row" th:text="${file.fileName}"></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div aria-hidden="true" aria-labelledby="fileModalLabel" class="modal fade" id="fileModal"
                         role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="fileModalLabel">File Upload</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal"
                                            type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="file-form-id" method="GET" th:object="${file}">
                                        <div class="form-group">
                                            <label class="col-form-label"
                                                   for="file-name">Filename</label>
                                            <input class="form-control" id="file-name"
                                                   maxlength="20" name="file-name"
                                                   required th:field="*{fileName}" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label" for="file-content-type">Content
                                                Type</label>
                                            <textarea class="form-control" id="file-content-type"
                                                      maxlength="1000"
                                                      name="file-content-type" required
                                                      rows="5" th:field="*{contentType}"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label" for="file-size">File
                                                size</label>
                                            <textarea class="form-control" id="file-size"
                                                      maxlength="1000" name="file-size" required
                                                      rows="5" th:field="*{fileSize}"></textarea>
                                        </div>
                                        <button class="d-none" id="fileDownload"
                                                type="submit"></button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal"
                                            type="button">Close
                                    </button>
                                    <button class="btn btn-primary" onclick="$('#fileDownload').click();"
                                            type="button">Download
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div aria-labelledby="nav-notes-tab" class="tab-pane fade" id="nav-notes"
                         role="tabpanel">
                        <button class="btn btn-info float-right" id="new-note-btn"
                                onclick="showNoteModal()" style="margin: 0.25em;"
                                type="button">
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="note : ${notes}">
                                    <td>
                                        <button class="btn btn-success" id="edit-note-btn"
                                                th:onclick="showEditNoteModal([[${note.id}]],[[${note.title}]],[[${note.description}]])"
                                                type="button">
                                            Edit
                                        </button>
                                        <a class="btn btn-danger" id="delete-note-btn"
                                           th:href="@{/note/{id}(id=${note.id})}">Delete</a>
                                    </td>
                                    <th id="note-title-tbl" scope="row"
                                        th:text="${note.title}"></th>
                                    <td id="note-description-tbl"
                                        th:text="${note.description}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" method="POST" th:action="@{/note}"
                                              th:object="${note}">
                                            <input type="hidden" name="noteId" id="note-id">
                                            <div class="form-group">
                                                <label class="col-form-label">Title</label>
                                                <input class="form-control" id="note-add-title"
                                                       maxlength="20" name="noteTitle"
                                                       required th:field="*{title}" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       for="note-add-description">Description</label>
                                                <textarea class="form-control"
                                                          id="note-add-description"
                                                          maxlength="1000"
                                                          name="noteDescription" required
                                                          rows="5" th:field="*{description}"></textarea>
                                            </div>
                                            <button class="d-none" id="save-note-btn"
                                                    type="submit"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal"
                                                type="button">Close
                                        </button>
                                        <button class="btn btn-primary" onclick="$('#save-note-btn').click();"
                                                type="button">Save changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div aria-hidden="true" aria-labelledby="noteModalLabel" class="modal fade" id="noteEditModal"
                         role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="noteEditModalLabel">Note</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal"
                                            type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" th:action="@{/note/update}"
                                          th:object="${note}">
                                        <input id="note-edit-id" name="noteId" th:field="*{id}"
                                               type="hidden">
                                        <div class="form-group">
                                            <label class="col-form-label" for="note-edit-title">Title</label>
                                            <input class="form-control" id="note-edit-title"
                                                   maxlength="20" name="note-edit-title"
                                                   required th:field="*{title}" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label"
                                                   for="note-edit-description">Description</label>
                                            <textarea class="form-control" id="note-edit-description"
                                                      maxlength="1000"
                                                      name="note-edit-description" required
                                                      rows="5" th:field="*{description}"></textarea>
                                        </div>
                                        <button class="d-none" id="save-edit-note-btn"
                                                type="submit"></button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal"
                                            type="button">Close
                                    </button>
                                    <button class="btn btn-primary" onclick="$('#save-edit-note-btn').click();"
                                            type="button">Save changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div aria-labelledby="nav-credentials-tab" class="tab-pane fade" id="nav-credentials"
                         role="tabpanel">
                        <button class="btn btn-info float-right" id="new-credential-btn"
                                onclick="showCredentialModal()" style="margin: 0.25em;"
                                type="button">
                            + Add a New Credential
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="credentialTable"
                                   th:object="${credentials}">
                                <thead>
                                <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 35%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 25%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="credential : ${credentials}">
                                    <td>
                                        <button class="btn btn-success"
                                                id="edit-credential-btn"
                                                th:onclick="showCredentialEditModal([[${credential.id}]],[[${credential.url}]],[[${credential.username}]],[[${encryptionService.decryptValue(credential.password, credential.key)}]],[[${credential.key}]] )" type="button">Edit
                                        </button>
                                        <a class="btn btn-danger" id="delete-credential-btn"
                                           th:href="@{/credential/{id}(id=${credential.id})}">Delete</a>
                                    </td>
                                    <th id="tbl-credential-url" scope="row"
                                        th:text="${credential.url}">Example Credential URL
                                    </th>
                                    <td id="tbl-credential-username"
                                        th:text="${credential.username}">Example Credential Username
                                    </td>
                                    <td id="tbl-credential-password"
                                        th:text="${credential.password}">Example Credential Password
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" th:action="@{/credential}"
                                              th:object="${credential}">
                                            <input id="credential-id" name="credentialId"
                                                   type="hidden">
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       for="credential-add-url">URL</label>
                                                <input class="form-control" id="credential-add-url" maxlength="100"
                                                       name="url" required
                                                       th:field="*{url}" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       for="credential-add-username">Username</label>
                                                <input class="form-control" id="credential-add-username"
                                                       maxlength="30" name="username"
                                                       required th:field="*{username}"
                                                       type="text">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       for="credential-add-password">Password</label>
                                                <input class="form-control" id="credential-add-password"
                                                       maxlength="30" name="password"
                                                       required th:field="*{password}"
                                                       type="text">
                                            </div>
                                            <button class="d-none" id="credential-add-submit"
                                                    type="submit"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal"
                                                type="button">Close
                                        </button>
                                        <button class="btn btn-primary" onclick="$('#credential-add-submit').click();"
                                                type="button">Save
                                            changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" aria-labelledby="credentialModalLabel" class="modal fade" id="credentialEditModal"
                             role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialEditModalLabel">
                                            Credential</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal"
                                                type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST"
                                              th:action="@{/credential/update}" th:object="${credential}">
                                            <input id="credential-edit-id" name="credentialId"
                                                   th:field="*{id}" type="hidden">
                                            <input id="credential-edit-key" name="credentialId"
                                                   th:field="*{key}" type="hidden">
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       for="credential-edit-url">URL</label>
                                                <input class="form-control" id="credential-edit-url" maxlength="100"
                                                       name="url" required
                                                       th:field="*{url}" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       for="credential-edit-username">Username</label>
                                                <input class="form-control" id="credential-edit-username"
                                                       maxlength="30" name="username"
                                                       required th:field="*{username}"
                                                       type="text">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       for="credential-edit-password">Password</label>
                                                <input class="form-control" id="credential-edit-password"
                                                       maxlength="30" name="password"
                                                       required th:field="*{password}"
                                                       type="text">
                                            </div>
                                            <button class="d-none" id="save-edit-credential-submit"
                                                    type="submit"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal"
                                                type="button">Close
                                        </button>
                                        <button class="btn btn-primary" onclick="$('#save-edit-credential-submit').click();"
                                                type="button">
                                            Save changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }

            function showEditNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-edit-id').val(noteId ? noteId : '');
                $('#note-edit-title').val(noteTitle ? noteTitle : '');
                $('#note-edit-description').val(noteDescription ? noteDescription : '');
                $('#noteEditModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }

            function showCredentialEditModal(credentialId, url, username, password, key) {
                $('#credential-edit-id').val(credentialId ? credentialId : '');
                $('#credential-edit-url').val(url ? url : '');
                $('#credential-edit-username').val(username ? username : '');
                $('#credential-edit-password').val(password ? password : '');
                $('#credential-edit-key').val(key ? key : '');
                $('#credentialEditModal').modal('show');
            }

            function showFileModal(id, fileName, contentType, fileSize) {
                $('#file-form-id').attr("action", "/file/download/" + id);
                $('#file-id').val(id ? id : '');
                $('#file-name').val(fileName ? fileName : '');
                $('#file-content-type').val(contentType ? contentType : '');
                $('#file-size').val(fileSize ? fileSize : '');
                $('#fileModal').modal('show');
            }
        </script>
    </body>
</html>
