<!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Sign Up</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container justify-content-center w-50 p-3"
             style="background-color: #eeeeee; margin-top: 5em;">
            <div class="form-group">
                <label><a th:href="@{/login}">Back to Login</a></label>
            </div>

            <h1 class="display-5">Sign Up</h1>
            <form method="POST" th:action="@{/signup}">
                <div class="alert alert-dark" id="success-msg" th:if="${signupSuccess}">
                    You successfully signed up! You will be redirect to <a href="/login">login</a>
                    page.
                    <meta content="3; url=/" http-equiv="refresh"/>
                </div>
                <div class="alert alert-danger" th:if="${signupError}">
                    <span th:text="${signupError}"></span>
                    </br>
                    <th:block th:each="error : ${validationError}">
                        <span th:text="${error.defaultMessage}"></span>
                        </br>
                    </th:block>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">First Name</label>
                        <input class="form-control" id="firstName" maxlength="20" name="firstName"
                               onblur="this.setAttribute('readonly','');" onfocus="this.removeAttribute('readonly');" placeholder="Enter First Name" readonly
                               required
                               type="input">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Last Name</label>
                        <input class="form-control" id="lastName" maxlength="20" name="lastName"
                               onblur="this.setAttribute('readonly','');" onfocus="this.removeAttribute('readonly');" placeholder="Enter Last Name" readonly
                               required
                               type="input">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="username">Username</label>
                        <input class="form-control" id="username" maxlength="20" name="username"
                               onblur="this.setAttribute('readonly','');" onfocus="this.removeAttribute('readonly');" placeholder="Enter Username" readonly
                               required
                               type="input">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input class="form-control" id="password" maxlength="20" name="password"
                               onblur="this.setAttribute('readonly','');" onfocus="this.removeAttribute('readonly');" placeholder="Enter Password" readonly
                               required
                               type="password">
                    </div>
                </div>
                <button class="btn btn-primary" id="signup-button" type="submit">Sign Up</button>
            </form>
        </div>
    </body>
</html>
